<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<h1 style="text-align:center"><strong> Hi ${name}</strong> , you have a new message!</h1>
<section style="margin: auto;text-align:center;color:white;height: 400px;width:600px;background: url('$pic') center/cover no-repeat">

</section>
</body>
</html>